PORT=3001
DATA_MODE=local
SUPPLIER_HASH_SALT=troque-este-salt-em-producao
LOCAL_DB_PATH=.data/db.json

AWS_REGION=us-east-1
USERS_TABLE=petronect-behavior-users-dev
SESSIONS_TABLE=petronect-behavior-sessions-dev
EVENTS_TABLE=petronect-behavior-events-dev
SUPPLIER_PROFILES_TABLE=petronect-behavior-supplier-profiles-dev
